# Required Variables
BOT_TOKEN=""
TELEGRAM_API=""
TELEGRAM_HASH=""
OWNER_ID=""
DATABASE_URL=""

# Optional Variables
BASE_URL=""
UPSTREAM_REPO=""
UPSTREAM_BRANCH=""
UPDATE_PKGS=True
TIMEZONE="Asia/Kolkata"
CMD_SUFFIX=""
AUTHORIZED_CHATS=""
SUDO_USERS=""
LEECH_DUMP_CHAT=""
STATUS_LIMIT=10
STATUS_UPDATE_INTERVAL=15
